---
import type { MarkdownHeading } from "astro";
import type { Frontmatter, KnownLanguageCode } from "../../config";
import OutdatedDocsBanner from "./outdatedDocsBanner.astro";
import BreadCrumbs from "./breadCrumbs.vue";
import Pagination from "./pagination.astro";
import OnThisPageLinks from "../navigation/OnThisPageLinks.vue";
import { getIsRtlFromLangCode } from "../../languages";

export interface Props {
  frontmatter: Frontmatter;
  path: string;
  headings: MarkdownHeading[];
}
// const { frontmatter, path } = Astro.props;
const { frontmatter, path, headings } = Astro.props;
const title = frontmatter.title;
const [_1, _2, lang] = path.split("/");
const isRtl = getIsRtlFromLangCode((lang || "en") as KnownLanguageCode);
---

<article id="article" class="flex w-full max-w-screen-lg flex-col">
  {lang && lang !== "en" && <OutdatedDocsBanner path={path} />}
  <div class="h-10">
    <BreadCrumbs client:only />
  </div>
  <OnThisPageLinks
    client:media="(max-width: 1024px)"
    headings={headings}
    title={title}
    isRtl={isRtl}
  />
  <section class="w-full">
    <h1
      id="overview"
      class="mb-4 px-4 text-3xl font-extrabold dark:text-t3-purple-100"
    >
      <a
        href="#overview"
        class="heading-link heading-link--hidden---effects"
        data-heading-link
      >
        {title}
      </a>
    </h1>
    <article class="markdown w-full">
      <slot />
    </article>
  </section>
</article>
<Pagination />
